web-service/WebContent/wsdl/DemoClass.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com" xmlns:intf="http://com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="func">
    <complexType>
     <sequence>
      <element name="a" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="funcResponse">
    <complexType>
     <sequence>
      <element name="funcReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="funcRequest">

      <wsdl:part element="impl:func" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="funcResponse">

      <wsdl:part element="impl:funcResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DemoClass">

      <wsdl:operation name="func">

         <wsdl:input message="impl:funcRequest" name="funcRequest">

       </wsdl:input>

         <wsdl:output message="impl:funcResponse" name="funcResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DemoClassSoapBinding" type="impl:DemoClass">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="func">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="funcRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="funcResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DemoClassService">

      <wsdl:port binding="impl:DemoClassSoapBinding" name="DemoClass">

         <wsdlsoap:address location="http://localhost:8080/web-service/services/DemoClass"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
